<div class="header row">
    <span class="header-title">FOODPORN</span>
    <ul class="user-bar col-md-3">
        <li class="col-md-2">
            <i class="fa fa-envelope"></i>
        </li>
        <li class="col-md-10">
            <a href="#">欢迎foodporn</a>
        </li>
    </ul>
</div>