<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="IE=edge">
<title>BLOG</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/lib/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/blog.css">
<!--<link rel="stylesheet" type="text/css" href="/stylesheets/login.css">-->
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">



<script src="/lib/jquery/jquery.min.js"></script>
<script src="/lib/jquery/jquery-ui.js"></script>
<script src="/lib/jquery/jquery.validate.js"></script>
<script src="/lib/jquery/jquery.validate.messages_cn.js"></script>
<script src="/lib/cookies/jquery.cookie.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/lib/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/lib/fastclick/fastclick.js"></script>
<script src="/lib/highlight.js/highlight.min.js"></script>
<script src="/lib/toastr/toastr.js"></script>
<script src="/lib/pace/pace.js"></script>
<script src="/lib/remarkable/remarkable.js"></script>
<script src="/lib/adminlte/js/app.min.js"></script>
<!--<script src="/blog/addBlog.js"></script>-->