<div class="navi">
    <ul class="navi-bar">
        <li><a href="/blog">新闻</a></li>
        <li>慕课</li>
        <li><a href="/count" id="visit-analyse">统计</a></li>
        <li>其他</li>
        <li>更多</li>
    </ul>
</div>


