<div class="modifyTime">
    <h3>考试开始时间:</h3>
    <input type="text" class="input-control" id="startTime" value="{{start}}">
    <h3>考试时长:</h3>
    <input type="text" class="input-control" id="lastTime" value="{{last}}">分钟
    <button id="saveT" class="btn btn-primary">保存</button>
</div>


<link rel="stylesheet" href="/public/lib/rome/rome.css">
<script type="text/javascript" src="/public/lib/rome/rome.js"></script>
<script type="text/javascript" src="/public/test/saveTime.js"></script>
