<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<title>网站登陆页面</title>
	<link rel="stylesheet" type="text/css" href="BOOTSTRAP/bootstrap-3.3.4-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="login.css">
</head>
<body>
	<div class="container-fluid">
		<div class="sheets">
			<p class="login-title">前端社区登陆</p>
			<div class="row">
				<input type="text" class="form-control" placeholder="用户名">
				<!-- <i class="fa fa-envelope login-icon"></i> -->
			</div>
			<div class="row">
				<input type="text" class="form-control" placeholder="密码">
			</div>
			<div class="row">
				<button type="submit" class="login-button form-control">登陆</button>
			</div>
		</div>

	</div>
</body>
</html>