<div class="add-news">
    <input type="text" class="form-control" id="news-title" placeholder="文章标题">
    <textarea type="text" class="form-control" id="news-content" placeholder="文章内容"></textarea>
    <button type="submit" class="form-control" id="publicNews">发布文章</button>
</div>

<script src="/blog/addNews.js"></script>