<!--<div class="blog-container container-fluid">-->
    <!--<div class="header row">-->
        <!--<span class="header-title">FOODPORN</span>-->
        <!--<ul class="user-bar col-md-3">-->
            <!--<li class="col-md-2">-->
                <!--<i class="fa fa-envelope"></i>-->
            <!--</li>-->
            <!--<li class="col-md-10 user-welcome">-->
                <!--<a href="">欢迎foodporn</a>-->
            <!--</li>-->
            <!--<div class="user-info">-->
                <!--<div class="user-image">-->
                    <!--<img src="22.jpg">-->
                    <!--<p>foodporn</p>-->
                <!--</div>-->
                <!--<div class="user-buttons">-->
                    <!--<button class="form-control" id="profile">profile</button>-->
                    <!--<button class="form-control" id="sign-out">sign out</button>-->
                    <!--<div class="clear-both"></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</ul>-->
    <!--</div>-->
    <!--<div class="navi">-->
        <!--<ul class="navi-bar">-->
            <!--<li>C语言</li>-->
            <!--<li>C++</li>-->
            <!--<li>HTML</li>-->
            <!--<li>文学</li>-->
            <!--<li>语言</li>-->
        <!--</ul>-->
    <!--</div>-->
    <div class="add-news">
        <input type="text" class="form-control" id="news-title" placeholder="文章标题">
        <textarea type="text" class="form-control" id="news-content" placeholder="文章内容"></textarea>
        <button type="submit" class="form-control" id="publicNews">发布文章</button>
        <!--<input type="text" id="amazing1" placeholder="amazing1">-->
        <!--<input type="text" id="amazing2" placeholder="amazing2">-->
    </div>
<!--</div>-->

<script src="/blog/addNews.js"></script>