<div class="blog-container container-fluid">
    <div class="header row">
        <span class="header-title">FOODPORN</span>
        <ul class="user-bar col-md-3">
            <li class="col-md-2">
                <i class="fa fa-envelope"></i>
            </li>
            <li class="col-md-10 user-welcome">
                <a href="#">欢迎foodporn</a>
            </li>
            <div class="user-info">
                <div class="user-image">
                    <img src="/images/22.jpg">
                    <p>foodporn</p>
                </div>
                <div class="user-buttons">
                    <a href="/admin/news" class="btn btn-default btn-flat" id="profile">profile</a>
                    <a href="" class="btn btn-default btn-flat" id="sign-out">sign out</a>
                    <div class="clear-both"></div>
                </div>
            </div>
        </ul>
    </div>
    <div class="navi">
        <ul class="navi-bar">
            <li>C语言</li>
            <li>C++</li>
            <li>HTML</li>
            <li>文学</li>
            <li>语言</li>
        </ul>
    </div>
    <div class="blog-content">
        <h2>NODE.JS学习日记</h2>
        <img src="/images/rab.jpg">
        <p>今天天气可真好</p>
    </div>
</div>

<script src="/blog/profile.js"></script>