<div class="container-fluid">
    <div class="sheets">
        <p class="login-title">前端社区登陆</p>
        <div class="row">
            <input type="text" class="form-control" placeholder="用户名">
            <i class=".glyphicon .glyphicon-envelope"></i>
        </div>
        <div class="row">
            <input type="text" class="form-control" placeholder="密码">
        </div>
        <div class="row">
            <button type="submit" class="login-button form-control">登陆</button>
        </div>
    </div>

</div>