<div class="container-fluid">
    <div class="sheets">
        <p class="login-title">前端社区登陆</p>
        <p class="login-box-msg"></p>
        <div class="row">
            <input type="text" id="usr" class="form-control" placeholder="用户名">
            <i class=".glyphicon .glyphicon-envelope"></i>
        </div>
        <div class="row">
            <input type="text" id="pwd" class="form-control" placeholder="密码">
        </div>
        <div class="row">
            <button type="submit" id="loginBtn" class="login-button form-control">登陆</button>
        </div>
    </div>

</div>

<script src="/blog/login.js"></script>