<!DOCTYPE html>
<html>
{{>head}}
<link rel="stylesheet" type="text/css" href="/public/stylesheets/admin.css">
<body>
<div class="page-wrapper">
    {{>header}}
        <div class="admin-content">
            {{>navigator}}
            {{{body}}}
        </div>
</div>
</body>
</html>
