<!DOCTYPE html>
<html>
    {{>head}}
    <link rel="stylesheet" href="/public/stylesheets/login.css">
  <body>
      <div class="page-wrapper">
          {{>header}}
          {{{body}}}
      </div>
  </body>
</html>
