.blog-container {
	padding-right: 10%;
	padding-left: 10%;
	height: 800px;
	margin: 0 auto;
	background-color: #DCCFBC;
	/*沙色*/
	margin: 0;
}
.header {
	height: 60px;
	width: 100%;
	margin: 10px auto;
	background-color: #50353A;
	/*苦巧色*/
	color: white;
}
.header-title {
	margin: 10px;
	font-size: 40px;
}
.user-bar li{
	display: inline-block;
	text-decoration: none;
}
.user-bar {
	float: right;
	height: 60px;
	line-height: 60px;
}
.navi {
	/*background-color: #6F5E57;*/
	float: left;
	margin-top: 20px;
	width: 25%;
	height: 300px;
}
.navi-bar {
	padding-left: 0;
}
.navi-bar li {
	margin: 5px;
	background-color: #6f5e57;
	width: 80%;
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
	list-style: none;
	font-size: 18px;
	color: white;
}
.navi-bar li:hover {
	background-color: #FACE04;
}
.blog-content {
	float: right;
    position: relative;
	height: 100px;
	width: 75%;
	background-color: #F3F1F4;
	margin-top: 25px;
	padding: 0 10px;
}
.blog-title {
    border-bottom: 2px solid #50353A;
    color: #6F5E57;
    font-size: 20px;
}
.blog-date {
    color: rgb(99, 111, 57);
    font-size: 12px;
    float: right;
    position: absolute;
    right: 10px;
    top: 10px;
}
.blog-text {
    font-size: 15px;
    color: #50353A;
    padding: 10px 0;
    height: 50px;
    overflow: hidden;
}
.add-news {
	float: right;
	height: 400px;
	width: 75%;
	background-color: #F3F1F4;
	margin-top: 20px;
	padding: 10px 30px;
}
#news-title {
	width: 100%;
	margin-top: 20px;
}
#news-content {
	width: 100%;
	height: 200px;
	margin-top: 20px;
}
#publicNews {
	width: 100px;
	float: right;
	margin-top: 20px;
	text-align: center;
	background-color: #367fa9;
	color: white;
}
.user-info {
	margin-top: 1px;
	margin-right: -15px;
	float: right;
	width: 250px;
	display: none;
    position: relative;
    z-index: 999;
}
.user-image {
	width: 100%;
	/*height: 80px;*/
	padding: 10px 0;
	text-align: center;
	background-color: #50353A;
}
.user-image img {
	width: 60px;
	height: 60px;
	border-radius: 30px;
}
.user-buttons {
	margin-top: -10px;
	background-color: #50353A;
}
.user-buttons a {
	/*display: inline-block;*/
	width: 35%;
	margin: 10px;
}
#profile {
	float: left;
}
.clear-both {
	clear: both;
}
#sign-out {
	float: right;
}











