.container-fluid {
	background-color: #D3D3D3;
	height: 700px;
}
.sheets {
	width: 370px;
	height: 200px;
	background-color: white;
	margin: 200px auto;
	padding-top: 10px;
	padding-bottom: 30px;
}
.login-title {
	margin-top: -60px;
	margin-bottom: 30px;
	font-size: 30px;
	color: black;
	text-align: center;
}
.sheets input {
	width: 300px;
	margin: 10px auto;
}
.login-icon {
	float: right;
	position: relative;
}
.login-button {
	float: right;
	margin-right: 50px;
	width: 60px;
	height: 35px;
	background-color: #367fa9;
	color: white;
}
