<div class="admin-navi">
    <ul><a href="/modifyTime">考试时间</a></ul>
    <ul><a href="/modifyQuestion">修改考题</a></ul>
    <ul><a href="/admin">学生管理</a></ul>
    <ul><a href="/teacher">返回主页</a></ul>
</div>
