<div id="card">
    <div id="front" class="entry-page front-box">
        <h3 class="entry-title">用户登录</h3>
        <form id="login"  action="/loginCheck" method="post">
            <div class="form-group">
                <label for="username" class="control-label">用户名</label>
                <input type="text" class="input-control" id="userName" name="username" placeholder="用户名">
            </div>
            <div class="form-group">
                <label for="userpwd" class="control-label">密码</label>
                <input type="password" class="input-control" id="userPwd" name="userpwd" placeholder="密码">
            </div>
            <div class="actions">
                <a id="turn-back">注册新账户</a></a>
                <a type="submit" class="btn btn-color" id="loginBtn">登录</a>
                <div class="clearfix"></div>
            </div>
        </form>
    </div>

    <div id="back" class="entry-page back-box">
        <h3 class="entry-title">创建新账号</h3>
        <form id="register"  action="/register" method="post">
            <div class="form-group">
                <label for="regUsername" class="control-label">用户名</label>
                <input type="text" class="input-control" id="regUserName" name="regUsername" placeholder="字母、数字等, 用户名唯一">
            </div>
            <div class="form-group">
                <label for="regUserpwd" class="control-label">密码</label>
                <input type="password"  class="input-control" id="regUserPwd" name="regUserpwd" placeholder="不少于6位">
            </div>
            <div class="form-group">
                <label for="regUserpwdCheck" class="control-label">确认密码</label>
                <input type="password" class="input-control" id="regUserpwdCheck" name="regUserpwdCheck" placeholder="不少于6位">
            </div>
            <label for="sexualDropdown" class="control-label">性别</label>
            <select name="sex" id="sexualDropdown" >
                <option value="false">男</option>
                <option value="true">女</option>
            </select>
            <div class="actions">
                <a id="turn-front">已有账户前往登录</a>
                <a type="submit" class="btn btn-color" id="registerBtn">注册</a>
                <div class="clearfix"></div>
            </div>
        </form>
    </div>
</div>


<link rel="stylesheet" href="/public/stylesheets/login.css">
<script src="/public/javascripts/loginAndReg.js"></script>
<script src="/public/chat/login.js"></script>
<script src="/public/chat/adduser.js"></script>
