html,body {
  height:100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.page-wrapper {
  width: 100%;
  height:100%;
  background-color: seagreen;
}
.app-title {
  padding: 10px;
  background-color: seashell;
  font-weight: bolder;
  font-size: 40px;
}
/*考试信息栏*/
.exam-detail {
  font-size: 18px;
  font-weight:bold;
  background-color: peachpuff;
  border-bottom: 1px dashed seashell;
  border-break: close;
}
.exam-detail a {
  float: right;
}
.exam-detail div {
  padding: 5px 10px;
  display: inline-block;
  width: 24%;
}
/*学生信息栏*/
.student-detail {
  font-size: 18px;
  font-weight:bold;
  background-color: seagreen;
}
.student-detail div {
  padding: 5px 10px;
  display: inline-block;
  width: 24%;
}
.clear-both {
  clear: both;
}
