<!DOCTYPE html>
<html lang="zh-cn">
<head>
    {{>head}}
    <script src="/public/chat/chat.js"></script>
</head>
<body>
<div class="chatroom-bgi">
    <div class="chatroom-page row">
        {{{body}}}
    </div>
</div>
</body>
</html>
